<div class="prpr" style="visibility: hidden;">
    <div class="mashiro-tips" style="opacity: 0;">你一直相信的事，也让我相信吧。活着，是件美好的事。</div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>
<div class="live2d-tool hide-live2d no-select" onclick="hide_live2d()">
    <div class="keys">Show</div>
</div>
<div class="live2d-tool switch-live2d no-select" onclick="switch_pio()">
    <div class="keys">Switch</div>
</div>
<div class="live2d-tool save-live2d no-select" onclick="save_pio()">
    <div class="keys">Save</div>
</div>